@import '~styles/helpers';
@import '~styles/font/ink-painting';

.home {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.content {
  @include sq-dimen(100%);
}

.title {
  font-family: 'ink-painting';
  font-size: 60px;
}

.body {
  @include flex(center, null, column);
  margin-top: 30%;
}

.form {
  width: 400px;
  margin-bottom: 20px;
}
