@import '~styles/helpers';
@import '~styles/font/ink-painting';

.content {
  @include sq-dimen(100%);
  @include flex(center, center, column);
}

.title {
  font-family: 'ink-painting';
  font-size: 60px;
}

.form {
  width: 400px;
  margin-bottom: 20px;
}
