@import './form';
@import './toast';
@import './button';

$pt-dark-divider-black: rgba(255, 255, 255, 0.15);

.#{$ns}-menu-item > .#{$ns}-icon:not([class*='intent']),
.#{$ns}-button:not([class*='intent']) .#{$ns}-icon {
  // color: inherit !important;
  color: var(--text-color) !important;
}

.#{$ns}-dialog.#{$ns}-dialog {
  width: auto;
  background-color: var(--secondary-color);
  min-width: 300px;
  overflow: hidden;

  .#{$ns}-dialog-header {
    background-color: var(--primary-color);
    height: 50px;
    padding-right: 10px;
    .#{$ns}-heading {
      font-size: 16px;
    }

    .#{$ns}-icon {
      color: inherit;
    }
  }
}

.#{$ns}-dark {
  .#{$ns}-drawer.#{$ns}-drawer,
  .#{$ns}-card.#{$ns}-card {
    background-color: var(--primary-color);
  }

  .#{$ns}-card.#{$ns}-card {
    box-shadow: 0 0 0 1px hsl(0deg 0% 100% / 15%), 0 0 0 rgb(16 22 26 / 0%), 0 0 0 rgb(16 22 26 / 0%);
  }
}

a,
a:hover,
.#{$ns}-dark a,
.#{$ns}-dark a:hover {
  color: inherit;
}

// for checkbox / swtich
.#{$ns}-control {
  margin-bottom: 0;
}

[data-theme^='dark'] {
  .#{$ns}-popover2.#{$ns}-popover2 {
    .#{$ns}-popover2-arrow {
      &:before {
        box-shadow: $pt-dark-elevation-shadow-0;
      }
    }
    svg {
      position: relative;
      z-index: 1;
    }

    .#{$ns}-popover2-arrow-fill {
      fill: var(--primary-color);
    }

    .#{$ns}-popover2-content {
      background-color: var(--primary-color);
      box-shadow: $pt-dark-elevation-shadow-0;
    }
  }
}

.button-popover {
  .#{$ns}-popover2-content {
    padding: $pt-grid-size/2 $pt-grid-size;
    white-space: nowrap;
  }
}

// https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
// Disable Auto Zoom in Input “Text” tag - Safari on iPhone
.#{$ns}-input,
.#{$ns}-html-select {
  font-size: inherit;
}

// for drawer trigger by long press in iPhone safari
.#{$ns}-overlay-open {
  user-select: none;
}

.#{$ns}-heading {
  color: var(--text-color);
}
